.menu-toggle{
    display:none;
    font-size:22px;
    cursor:pointer;
}

/* Mobile */
@media(max-width:768px){
    .menu-toggle{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:70px;
        left:0;
        right:0;
        background:#0a0a0a;
        flex-direction:column;
        padding:20px;
        gap:16px;
        display:none;
    }

    .nav-links.active{
        display:flex;
    }
}